*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{
    width: 80%;
    max-width: 1100px;
    height: 600px;
    border: 1px solid #c1c1c1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.border_content, .margin_content, .padding_content, .content_content{   
    font-weight: 700;
    text-transform: capitalize;
}
.border_content{
    padding-right: 30px;
}
.margin, .padding, .content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.margin{
    position: relative;
}
.arrow{
    position: absolute;
    right: 0;
    top: 47%;

    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
.margin,.content{
    width: 85%;
    height: 80%;
    border: 1px dotted #a3a2a2;
}
.margin_content, .padding, .padding, .padding_content, .content, .content_content{
    align-self: flex-end;
    margin-right: 30px;
}
.margin_content{
    margin-top: 5px;
}
.padding{
    border: 5px solid #000;
    width: 90%;
    height: 80%;
}
.content{
    width: 90%;
}